.card{
    width: 100%;
    height: 300px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card_image_contanier{
    width: 100%;

    overflow: hidden;
}

.card_image_contanier img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}